#a{
    width: 200px;
    height: 200px;
    background-color: chocolate;
    border-radius: 50%;
    margin-left: 30px;

}
.b{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
}
@keyframes trans{
    from{transform: translate(0px);}
    to{transform: translate(200px)}
}
#a{
    animation-name: trans;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: alternate
}




@keyframes fontAnimation{
    from{ font-size: 20px; }
    to{font-size: 40px;}
}
.b{
    background-color: aqua;
    animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count:10;
    animation-direction: alternate;
}